[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "config/PrimeVim/pack/packer/start/packer.nvim"]
	path = config/PrimeVim/pack/packer/start/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
